<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>wxxcx</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTimeServlet</servlet-name>
    <servlet-class>controller.GetTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTimeServlet</servlet-name>
    <url-pattern>/GetTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetTimeServlet</servlet-name>
    <servlet-class>controller.SetTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetTimeServlet</servlet-name>
    <url-pattern>/SetTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>controller.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/SigninServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SigninJudgeServlet</servlet-name>
    <servlet-class>controller.SigninJudgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninJudgeServlet</servlet-name>
    <url-pattern>/SigninJudgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMySignRecordServlet</servlet-name>
    <servlet-class>controller.GetMySignRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMySignRecordServlet</servlet-name>
    <url-pattern>/GetMySignRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllSignRecordServlet</servlet-name>
    <servlet-class>controller.GetAllSignRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllSignRecordServlet</servlet-name>
    <url-pattern>/GetAllSignRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LikeServlet</servlet-name>
    <servlet-class>controller.LikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeServlet</servlet-name>
    <url-pattern>/LikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSignCalendarServlet</servlet-name>
    <servlet-class>controller.GetSignCalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSignCalendarServlet</servlet-name>
    <url-pattern>/GetSignCalendarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetFormIDServlet</servlet-name>
    <servlet-class>controller.SetFormIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetFormIDServlet</servlet-name>
    <url-pattern>/SetFormIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>controller.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SigninRobotServlet</servlet-name>
    <servlet-class>controller.SigninRobotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninRobotServlet</servlet-name>
    <url-pattern>/SigninRobotServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>AddRobotServlet</servlet-name>
    <servlet-class>controller.AddRobotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRobotServlet</servlet-name>
    <url-pattern>/AddRobotServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>Utils.TestSend</listener-class>
  </listener>

</web-app>